

.DS_Store
.env
__pycache__
.pyc


indigg_auditing_v1/provided_users.csv
indigg_auditing_v1/audit_result.csv
indigg_auditing_v1/validated_data.csv
indigg_auditing_v1/invalid_accounts.csv
igg_audit_v2/quest_completers.csv
igg_audit_v2/results/*.csv


#CSV folders
V1/CSVs/
V2/CSVs
V2/email_pre_hash.csv
/CSVs/
/data_testing/edge_case.csv

